
.webim .webim-comment{
	padding: 0 1em;
}
.webim .webim-comment p{
	margin: 1em 0;
}

.webim .webim-comment label{
	display: block;
}

.webim .webim-comment form input{
	width: 180px;
}

.webim .webim-comment form textarea{
	width: 180px;
	height: 70px;
}

.webim .webim-comment .webim-comment-submit{
	width: 100px;
	padding: .4em 0;
}

.webim .webim-comment-notice{
	font-size: 1em;
	margin: 10px 0;
}



