
* html  .webim-customer, .webim-customer{
	position: static; 
	bottom: auto;
	right: auto;
	left: auto;
	top:auto;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.webim-layout .webim-window-header h4{
	margin: 3px 0;
}

.webim-customer .webim-window-window{
	position: relative;
	bottom: auto;
	z-index: 5;
	right: auto;
	width: 100%;
}

.webim-customer-left{
	width: 200px;
	float: left;
}

.webim-customer-right{
	width: 380px;
	float: right;
}

.webim-customer .webim-window{
	float: none;
}

.webim-customer .webim-window-tab-wrap {
	float: none;
	display: none;
}

.webim-customer .webim-chat{
}

.webim-customer .webim-chat-input{
	height: 6em;
}

.webim-customer .webim-chat-main
, .webim-customer .webim-chat-content{
	height: 20.5em;
}

.webim-buddy .webim-window-tab-count{
	top: auto;
	margin-left: 0;
	right: 3px;
}

#webim-buddy{
	height: 343px;
}

#webim-buddy ul li a img{
	display:none;
}

#webim-buddy ul li a{
	margin-left: 0.5em;
	position: relative;
}

#webim-buddy ul li a span{
}



