
* html  .webim-customer, .webim-customer{
	position: static; 
	bottom: auto;
	right: auto;
	left: auto;
	top:auto;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	margin-left: 220px;
}

.webim-layout .webim-window-header h4{
	margin: 3px 0;
}

.webim-customer .webim-window-window{
	position: relative;
	bottom: auto;
	z-index: 5;
	right: auto;
	width: 100%;
}

.webim-customer-left{
	width: 200px;
	margin-left: -220px;
	float: left;
}

.webim-customer-right{
}

.webim-customer .webim-window{
	float: none;
}

.webim-customer .webim-window-tab-wrap {
	float: none;
	display: none;
}

.webim-customer .webim-chat{
}

.webim-customer .webim-chat-input{
	height: 6em;
}
.webim-customer .webim-chat-input-wrap{
	height: 6.5em;
}

.webim-customer .webim-chat-main
, .webim-customer .webim-chat-content{
	height: 20.8em;
}

.webim-buddy .webim-window-tab-count{
	top: auto;
	margin-left: 0;
	right: 3px;
}

#webim-buddy{
	height: 343px;
}

#webim-buddy ul li a img{
	display:none;
}

#webim-buddy ul li a{
	margin-left: 0;
	margin-right: 0;
	border-left: 0px;
	border-right: 0px;
	position: relative;
}
#webim-buddy ul li a.ui-state-highlight{
	padding:.2em .5em;
}

#webim-buddy ul li a span{
}

.webim .webim-chat .webim-chat-notice-wrap1{
	position: relative;
}

.webim .webim-chat .webim-chat-notice-wrap{
	position: absolute;
	width: 100%;
}

.webim-window-window {
	/*-moz-box-shadow:0 20px 40px rgba(0, 0, 0, 0.4);*/
	-moz-box-shadow:0 10px 20px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 10px 20px rgba(0, 0, 0, 0.4);
}


