
* html  .webim-popup, .webim-popup{
	position: static; 
	bottom: auto;
	right: auto;
	left: auto;
	top:auto;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	margin-left: 220px;
}

.webim-popup .webim-window-header h4{
	margin: 3px 0;
}

.webim-popup .webim-window-window{
	position: relative;
	bottom: auto;
	z-index: 5;
	right: auto;
	width: 100%;
}

.webim-popup-left{
	width: 200px;
	margin-left: -220px;
	float: left;
}

.webim-popup-right{
}

.webim-popup .webim-window{
	float: none;
}

.webim-popup .webim-window-tab-wrap {
	float: none;
	display: none;
}

.webim-popup .webim-chat{
}

.webim-popup .webim-chat-input{
	height: 6em;
}
.webim-popup .webim-chat-input-wrap{
	height: 6.5em;
}

.webim-popup .webim-chat-main
, .webim-popup .webim-chat-content{
	height: 24.5em;
}

.webim-popup .webim-buddy .webim-window-tab-count{
	top: auto;
	margin-left: 0;
	right: 3px;
}

.webim-popup #webim-buddy{
	height: 343px;
}

.webim-popup #webim-buddy .webim-buddy-content{
        padding: .2em 0 1.5em;
}

.webim-popup #webim-buddy ul li a img{
	display:none;
}

.webim-popup #webim-buddy ul li a{
	margin-left: 0;
	margin-right: 0;
	border-left: 0px;
	border-right: 0px;
	position: relative;
}
.webim-popup #webim-buddy ul li a.ui-state-highlight{
	padding:.2em .5em;
}

.webim-popup #webim-buddy ul li a span{
}

.webim-popup .webim-chat .webim-chat-notice-wrap1{
	position: relative;
}

.webim-popup .webim-chat .webim-chat-notice-wrap{
	position: absolute;
	width: 100%;
}

/*user icon*/
/*
.webim-popup .webim-user-show-dnd,.webim-popup  .webim-user-show-away,.webim-popup  .webim-user-show-invisible{
	display: none !important;
}
 */

.webim-popup .webim-window-window {
	/*-moz-box-shadow:0 20px 40px rgba(0, 0, 0, 0.4);*/
	-moz-box-shadow:0 10px 20px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 10px 20px rgba(0, 0, 0, 0.4);
}

